/* MOBILE */
@media screen and (max-width: 800px){
    .container{

        margin-left: 20px;
    }

    header{
        margin-top: 61px;
        margin-left: 12px;
    }

    .head{
        display: flex;
        flex-direction: column;
    }
    
    .column{
        width: 340px;
    }
    .container{
        width: 412px;
        padding-top: 50px;
        margin-left: 15px;
    }
    .row{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .separation{
        margin-bottom: 20px;
        width: 190px;
    }
    .img{
        width: 140px;
    }
    .img-infotext{
        display: flex;   
    }
    .spanup{
        margin-left: 10px;
    }
    .down-mobile{
        margin-top: 50px;
    } 
    .dowm{
        margin-top: 0;
    }
    footer{
        margin-top: 20px;

    }
}

/* SCREEN */
@media screen and (min-width:801px) {

    header{
        margin-top: 110px;
        margin-left: 240px;
    }

    .head{
        display: flex;
        flex-direction: row;
    }
    .column{
        width: 340px;
        margin-left: 450px;
    }
    .container{
        max-width: 1080px;
        padding-top: 70px;
        margin-left: 240px;
    }
    .row{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .separation{
        margin-bottom: 20px;
        width: 200px;
        margin-right:120px;
    }
    .img{
        width: 240px;
    }
    .img-infotext{
        display: flex;   
    }
    .spanup{
        margin-left: 10px;
    }
    .down-mobile{ 
        margin-top: 0;
    }
    .down{
        margin-top: 70px;
    }
    footer{
        margin-top: 20px;

    }
}

/* TEXTS */
    .tittle-head{  
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
    }

    .little-tittle{
        font-family: 'Poppins';
        font-style: normal;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .normal-text{
        font-family: 'Poppins';
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
    }
    .bold-text{
        font-weight: 600;
    }
    .foot-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #4F4F4F; 
    }
    a{
        text-decoration: none;
        color: #444585;
    }
    .info{
        font-family: 'PT Serif';
        font-style: normal;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 13px;
        writing-mode: vertical-lr;
    }
    span{
        margin: 0;
        height: fit-content;
    }